{% extends 'layout.html' %}

{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "input/macro.njk" import govukInput %}

{% block content %}
  <div class="govuk-body">
    <h1 class="govuk-heading-xl">What waste do you want to export?</h1>

    <link rel="stylesheet" href="assets/accessible-autocomplete.min.css">

    <form method="post" autocomplete="off">

    {# JavaScript version of textbox with autocomplete #}
    <div id="hideThisFromNonJs" style="display:none">
      <span class="govuk-body">{{ textLine1 }}</span>
      <label for="wasteCodeNameSuffix" class="govuk-caption-m">{{ textLine2 }}</label>
      <p>{{ textLine3 }}</p>

    {% if errorMessage %}
      <span id="passport-issued-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ errorMessage }}
      </span>
    {% endif %}

      <div id="selectedWasteName" class="autocomplete-wrapper"></div>
      <br>
    </div>

    {# Non JavaScript version of textbox #}
    <noscript>
      {% if errorMessage %}
      <p>{{ textLine1 }}<br><span class="govuk-caption-m">{{ textLine2 }}</span></p>
        {{ govukInput({
          label: {
            text: textLine3
          },
          errorMessage: {
            text: errorMessage
          },
          id: "selectedWasteName",
          name: "selectedWasteName"
        }) }}
      {% else %}
      <p>{{ textLine1 }}<br><span class="govuk-caption-m">{{ textLine2 }}</span></p>
        {{ govukInput({
          label: {
            text: textLine3
          },
          id: "selectedWasteName",
          name: "selectedWasteName"
        }) }}
      {% endif %}

    </noscript>

    {{ govukButton({
      text: "Continue"
    }) }}
    <br>
    {{ govukBackLink({
      text: "Back",
      href: "/"
    }) }}

    </form>
  </div>


  <script type="text/javascript" src="assets/accessible-autocomplete.min.js"></script>

  <script type="text/javascript">
    document.getElementById('hideThisFromNonJs').style.display='block';
  </script>

  <script type="text/javascript">
    accessibleAutocomplete({
      element: document.querySelector('#selectedWasteName'),
      id: 'wasteCodeNameSuffix',
      source: {{ wasteCodeNameSuffix | dump | safe }},
      name: 'selectedWasteName'
    })
  </script>
{% endblock %}
