{% extends 'layout.html' %}

{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-body">
    <h1 class="govuk-heading-xl">What waste do you want to export?</h1>

    <link rel="stylesheet" href="assets/accessible-autocomplete.min.css">

    <span class="govuk-body">Type in the name of the waste you wish to export below.</span>
    <label for="autocomplete-default" class="govuk-caption-m">For example Copper scrap</label>
    <br>

    <div id="tt-default" class="autocomplete-wrapper"></div>
    <br>

    {{ govukButton({
      text: "Continue"
    }) }}
    <br>
    {{ govukBackLink({
      text: "Back",
      href: "/"
    }) }}
  </div>


  <script type="text/javascript" src="assets/accessible-autocomplete.min.js"></script>

  <script> </script>

  <script type="text/javascript">
    let element = document.querySelector('#tt-default')
    let id = 'autocomplete-default'
    let wasteName = {{ wasteName | dump | safe }}
    accessibleAutocomplete({
      element: element,
      id: id,
      source: wasteName
    })
  </script>
  
{% endblock %}
