{% extends 'layout.html' %}

{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "input/macro.njk" import govukInput %}

{% block content %}
  <div class="govuk-body">
    <h1 class="govuk-heading-xl">Where are you exporting to?</h1>

    <link rel="stylesheet" href="assets/accessible-autocomplete.min.css">

    <form method="post" autocomplete="off">

    {# JavaScript version of textbox with autocomplete #}
    <div id="hideThisFromNonJs" style="display:none">
      <label for="selectCountry" class="govuk-body">Select Country</label>
      <br>

      <div id="selectedCountry" class="autocomplete-wrapper"></div>
      <br>
    </div>

    {# Non JavaScript version of textbox #}
    <noscript>
      {{ govukInput({
        label: {
          text: "Select Country"
        },
        id: "selectedCountry",
        name: "selectedCountry"
      }) }}
    </noscript>

    {{ govukButton({
      text: "Continue"
    }) }}
    <br>
    {{ govukBackLink({
      text: "Back",
      href: "/"
    }) }}

    </form>
  </div>


  <script type="text/javascript" src="assets/accessible-autocomplete.min.js"></script>

  <script type="text/javascript">
    document.getElementById('hideThisFromNonJs').style.display='block';
  </script>

  <script type="text/javascript">
    accessibleAutocomplete({
      element: document.querySelector('#selectedCountry'),
      id: 'selectCountry',
      source: {{ countryName | dump | safe }},
      name: 'selectedCountry'
    })
  </script>
{% endblock %}
