  {% extends 'feedbackLayout.html' %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "textarea/macro.njk" import govukTextarea %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 {{ govukBackLink({
      text: "Back",
      href: "/"
    }) }}
  {% endblock %}
  {% block content %}
      <form method="post" autocomplete="off">
        
        {{ govukRadios({
          idPrefix: "feedbackSatisfaction",
          name: "feedbackSatisfaction",
          fieldset: {
            legend: {
              text: "Tell us what you think about this service",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Very satisfied",
              text: "Very satisfied"
            },
            {
              value: "Satisfied",
              text: "Satisfied"
            },
            {
              value: "Neither satisfied or disatisfied",
              text: "Neither satisfied or disatisfied"
            },
            {
              value: "Disatisfied",
              text: "Disatisfied"
            },
             {
              value: "Very disatisfied",
              text: "Very Disatisfied"
            }
          ]
        }) }}

        <br>
        <br>
      {{ govukTextarea({
       name: "feedbackText",
       id: "feedbackText",
       label: {
       text: "Tell us anything you like or don't like about the service (Optional)",     
       isPageHeading: false
      },
     hint: {
     text: "Do not include personal or financial information, like your National Insurance number or credit card details."
     }
}) }}
     {{ govukButton({
      text: "Submit"
    }) }}
      </form>
    </div>
  </div>
{% endblock %} 