{% extends 'layout.html' %}

{% from "button/macro.njk" import govukButton %}
 {% from "panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-body">
    {# <h1 class="govuk-heading-xl"></h1>

    <p class="govuk-body">{{titleText}}</p>     #}

{{ govukPanel({
  titleText: "Export not allowed",
  html: "You cannot export that type of waste<br>to the country selected"
}) }}
<br>
 <span class="govuk-body"><strong>What happens next</strong><br> 
 For more info and advice call 0800 000 000
 </span>    

 <br>
 <br>
{{ govukButton({
      text: "Start a new check"
    }) }}
<br>  
  </div>
{% endblock %}