{% extends 'layout.html' %}

{% from "button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-body">
    <h1 class="govuk-heading-xl">Check the controls for exporting your waste</h1>

    <p>You can use this service to find out what controls apply to exporting your waste to a specific country.</p>

    <p><strong>This service is not intended to help you classify your waste.  It is your responsibility to ensure that your waste is appropriately classified.</strong></p>

    <p>This service only covers the waste types listed in <strong>Annexes III and IV</strong> of the <strong><a href="#" class="govuk-link">Waste Shipments Regulation</a></strong>. There are many wastes that are not included in these Regulations.  If you cannot find the waste that you want to export you must describe it as ‘not listed’ and <a href="#" class="govuk-link">notification controls will apply</a>.</p>

    <p>Please read <a href="#" class="govuk-link">our guidance webpage</a> for full information about waste shipments.<p>


    {{ govukButton({
        text: "Start now",
        href: "enterWaste",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}
      
  </div>
{% endblock %}