{% extends 'layout.html' %}

{% from "button/macro.njk" import govukButton %}
{% from "panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-body">
    {# Override panel style to set the colour #}
    <style>
      .govuk-panel--confirmation {
        color: #ffffff;
        background: {{panelColor}};
      }
    </style>

    {{ govukPanel({
      titleText: panelTitle,
      html: panelText
    }) }}
    <br>
    <span class="govuk-body"><strong>What happens next</strong><br> 
    For more info and advice call 0800 000 000
    </span>

    <br>
    <br>
    {{ govukButton({
          text: "Start a new check"
        }) }}
  </div>
{% endblock %}